.userCard {
    width: 275px;
    margin: 10px 0 10px 0;
    padding: 10px 0;
}

.greenFrame {
    border: 1px solid green;
}

.redFrame {
    border: 1px solid red;
}
.otherData {
    margin: 31px 183px 0 0;
}
