.userCard {
  width: 275px;
  margin: 10px 0 10px 0;
  padding: 10px 0;
}

.greenFrame {
  border: 1px solid green;
}

.redFrame {
  border: 1px solid red;
}

.blackFrame {
  border: 1px solid black;
}
.otherData {
  width: 248px;
  margin: 12px auto;
  padding: 14px 6px;
}

.colorRegion {
  background-color: rgb(240, 205, 141)
}

.cursor {
  cursor: pointer
}
